.tableContainer {
    position:relative;
    height:500px;
    width:220px;
    left:10px;
    margin-top:5px;
    overflow:auto;
    
}

#topRow {
    margin-top: 20px;
}

#dataTable {
    position:relative;
    width: 100%;
    display:block;
    margin:auto;
}

#downloadFormContainer {
    position:relative;
    top:10px;
    height: 300px;
    width: 200px;
    left:10px;
    
    

}

.inputRow {
    margin-bottom:5px;
}

#caret {
    font-size:2em;

}

#graph1 {
    position:relative; top: 30px; left:10%; 
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis {
  font: 10px sans-serif;
}