@{
    var newUser = ViewData["NewUser"] as string;
    ViewBag.Title = "AddConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headSection{

}

@section scripts{
    
}

<h2>Added new user @newUser</h2>
@Html.ActionLink("Back", "Index", "Admin")
